.helpfullinks-container {
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #e7dede;
    box-shadow: 0 2px 3px 0 #d8d8d8;
    float: left;
    margin-top: 32px;
    margin-left: 20px;
    height: 289px;
    width: 321px;

    .title {
        color: #666666;
        font-family: Roboto;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 27px;
        letter-spacing: normal;
        line-height: normal;
        width: 251px;
    }

    .item-name {
        color: #83121b;
        font-family: Roboto;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 18px;
        letter-spacing: normal;
        line-height: normal;
        width: 211px;
    }
}